.bedroom-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 1.25rem;
}

/****BELOW: control aspect ratios for grid
https://css-tricks.com/aspect-ratios-grid-items/ 
****/

.bedroom-container .inspiration {
  position: relative;
  width: 100%;
}

.bedroom-container .inspiration:before {
  background-color: grey;
  content: "";
  height: 0;
  display: inline-block;
  padding-top: 98.345%;
  width: 5px;
  position: relative;
}

.inspiration-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

/****ABOVE: control aspect ratios for grid****/

.bedroom-container .inspiration:nth-child(1) {
  background-color: lightgrey;
  grid-row: 1/8;
  grid-column: 1/3;
}

.bedroom-container .inspiration:nth-child(2) {
  background-color: lightgrey;
  grid-row: 1/4;
  grid-column: 3/4;
}

.bedroom-container .inspiration:nth-child(3) {
  background-color: lightgrey;
  grid-row: 4/8;
  grid-column: 3/4;
}
.bedroom-container .inspiration:nth-child(4) {
  background-color: lightgrey;
  grid-row: 1/5;
  grid-column: 4;
}
.bedroom-container .inspiration:nth-child(5) {
  background-color: lightgrey;
  grid-row: 5/8;
  grid-column: 4;
}
