.cart-product-container {
  width: 100%;
  margin: 2.5rem 0;
  display: grid;
  grid-template-columns: 4fr 8fr 1fr;
  grid-template-rows: 1fr 3fr 3fr;
  border-bottom: 1px solid #dfdfdf;
}

.cart-product-image {
  width: 50%;
  grid-column: 1/2;
  grid-row: 1/4;
  justify-self: center;
  align-self: center;
}

.cart-product-title {
  grid-column: 2/3;
  grid-row: 1/2;
}

.cart-prodcut-price {
  grid-column: 3/3;
  grid-row: 1/2;
}

.cart-product-description {
  grid-column: 2/3;
  grid-row: 2/3;
  color: #484848;
  font-size: 0.875rem;
}

.cart-product-action {
  grid-column: 2/3;
  grid-row: 3/3;
  height: 50px;
  display: flex;
  /* justify-content: space-around; */
}

.cart-product-action-qty {
  display: flex;
  border: 1px solid #dfdfdf;
  border-radius: 50px;
  align-items: center;
  padding: 10px;
}

.cart-product-action-qty-input {
  border: hidden;
  background: transparent;
  width: 30px;
  text-align: center;
}

.cart-product-action-qty-input:focus {
  outline: none;
}

.cart-product-action-remove {
  align-self: center;
  padding-left: 30px;
  color: #484848;
  cursor: pointer;
  font-size: 0.875rem;
}
