.cart {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-title {
  width: 100%;
  margin-top: 50px;
}

.btn-checkout {
  width: 100%;
  height: 3rem;
  margin-top: 4em;
  font-weight: bolder;
  background: #0058a3;
  color: #fff;
  border: 0;
  border-radius: 52px;
  cursor: pointer;
}

.btn-checkout:hover {
  background: #004f93;
}

.cart-product-list {
  /* width: 90%; */
}

.cart-summary {
  width: 100%;
  margin: 2.5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: #333;
  font-size: 0.875rem;
  font-weight: bolder;
}

.cart-summary-title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.cart-summary-subtotal-title {
  grid-column: 1/2;
  grid-row: 2;
}

.cart-summary-subtotal {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: end;
  font-size: 1.375rem;
  color: #111;
}

.cart-footer {
  width: 100%;
  margin: 2.5rem 0;
  color: #111;
  font-weight: 700;
  font-size: 0.875rem;
}

.cart-footer div {
  display: flex;
  align-content: center;
  margin: 20px 0;
}

.cart-footer span {
  margin-left: 10px;
}
