.footer {
  color: rgb(153, 153, 153);
  height: 100%;
  display: flex;
  background-color: rgb(241, 241, 241);
  justify-content: center;
  align-items: center;
}

.footer a {
  color: rgb(128, 128, 180);
}
.footer a:hover {
  color: rgb(43, 43, 75);
}
