.inspiration-image__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.inspiration-image {
  position: relative;
  height: 100%;
}

.inspiration-image__area {
  position: absolute;
}

.inspiration-image__dot {
  transition: border-color 250ms ease-in-out;
  width: 2rem;
  height: 2rem;
  border: 2px solid transparent;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 64px;
  line-height: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inspiration-image__dot:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.inspiration-image__dot::after {
  content: "";
  transition: transform 250ms ease-in-out;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.55);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 64px;
}

.inspiration-image__dot:hover::after {
  transform: scale(0.667);
}

a,
.tooltip {
  cursor: pointer;
}

.tooltip {
  width: 130px;
  height: 60px;
  padding: 12px 12px !important;
  transition: 250ms ease-in-out !important;
  background: #fff !important;
  color: #000 !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 1px !important;
}

.tooltip:hover {
  visibility: visible !important;
  opacity: 1 !important;
}

.tooltip-container {
  display: grid;
  grid-template-columns: 1fr 20px;
  grid-template-rows: auto 25px auto;
}

.tooltip-title {
  grid-column: 1/2;
  grid-row: 1/2;
}
.tooltip-title:hover {
  text-decoration: underline;
}

.tooltip-description {
  grid-column: 1/2;
  grid-row: 2/3;
  color: #484848;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip-arrow {
  grid-column: 2;
  grid-row: 1/3;
}

.tooltip-price {
  grid-column: 1/2;
  grid-row: 3/4;
  font-weight: bolder;
}
