.order-items-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 20px 0;
}

.order-item-title span:nth-child(2) {
  font-weight: bolder;
}

.order-item-img {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 70%;
}

.order-item-qty {
  grid-column: 2/3;
  grid-row: 1/2;
}

.order-item-description {
  grid-column: 2/3;
  grid-row: 2/3;
  color: #484848;
  font-size: 0.875rem;
}

.order-subtotal {
  display: flex;
  font-weight: bolder;
  justify-content: space-between;
  margin: 30px 0;
}
