.app {
  height: 100%;
  width: 100%;
}

.app-container {
  height: 100%;
  display: grid;
  grid-template-columns: 10% minmax(600px, 1fr) 10%;
  grid-template-rows: 100px 1fr 100px;
}

.header {
  grid-area: 1 / 2;
}

.page {
  grid-area: 2 / 2;
}

.footer {
  grid-area: 3 / 2;
}

.page-container {
  height: 95%;
  display: flex;
  flex-direction: column;
}

.page-title {
  padding: 0.5em 0;
  letter-spacing: 0.05em;
  font-weight: bold;
  z-index: 100;
}

.page-description {
  padding: 0.5em 0;
  color: #484848;
  line-height: 1.71429;
  font-size: 0.875rem;
  z-index: 100;
}
